* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  width: 100%;
  z-index: 1;
  background-color: white;
  position: fixed;
  display: flex;
  padding: 1.3rem 4rem;
  justify-content: space-between;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
  align-items: center;
  margin: 0;
}

.navbar .logo {
  font-size: 24px;
}

.logo span {
  color: red;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.container-desk {
  width: 100%;
  display: flex;
  padding: 104px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  gap: 15px;
}
.hero h1 {
  font-size: 45px;
}

.hero h1 span {
  color: red;
}

img {
  width: 600px;
}

.container-desk img {
  position: relative;
  z-index: 20px;
}
.name {
  font-size: 24px;
  font-weight: 500;
}

#toggle {
  display: none;
}

.button button {
  padding: 13px 30px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 12px;
}

button:hover {
  padding: 15px 34px;
  transition: 0.3s;
  box-shadow: 5px 37px 124px -9px rgba(186, 47, 47, 0.75);
  -webkit-box-shadow: 5px 37px 124px -9px rgba(186, 47, 47, 0.75);
  -moz-box-shadow: 5px 37px 124px -9px rgba(186, 47, 47, 0.75);
}

.container-mobile {
  display: none;
}

.container-about {
  display: flex;
  background-color: black;
  align-items: center;
  text-align: center;
  gap: 25px;
  width: 100%;
  padding: 100px 0;
}

.about-1 {
  width: 50%;
}

.about-2 {
  width: 50%;
}

.about-1 p,
.about-2 p {
  color: #fff;
  padding: 4rem;
  display: flex;
  justify-content: center;
}

.about-title {
  font-size: 30px;
  color: #fff;
  position: relative;
}

.about-title:hover {
  color: red;
  transition: 0.4s;
  font-size: 35px;
}
.about-title::after {
  position: absolute;
  content: "";

  width: 25%;
  bottom: 0;
  left: 0;
  transform: translateX(150%);
  height: 3px;
  background-color: red;
  color: red;
}

@media only screen and (max-width: 986px) {
  img {
    width: 45%;
  }

  .hero h1 {
    font-size: 36px;
  }

  .name {
    font-size: 20px;
  }

  .hero .text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .container-mobile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    padding-top: 100px;
  }

  .navbar ul {
    position: absolute;
    right: 0;
    top: 74px;
    height: 90vh;
    z-index: 1;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    align-items: center;
    background-color: #000;
    width: 50%;
    transition: all 1s;
    flex-direction: column;
  }

  .navbar ul li a {
    position: relative;
    z-index: 500;
    color: #fff;
  }

  .navbar ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .hero {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .container-mobile img {
    width: 90%;
    padding: 2rem 0;
  }

  .container-desk {
    display: none;
  }
  #toggle {
    position: relative;
    z-index: 200;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    display: block;
    font-size: 24px;
  }

  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .hidden-mobile {
    display: none;
  }

  .container-about {
    display: flex;
    flex-direction: column;
  }

  .about-1 p,
  .about-2 p {
    color: #fff;
    display: flex;
    padding: 4rem 0 4rem 0;
    justify-content: center;
  }
  .about-title::after {
    position: absolute;
    content: "";

    transform: translateX(0%);
    width: 70%;
    bottom: 0;
    left: 40px;
    height: 3px;
    background-color: red;
    color: red;
  }
}
